
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

$clr-red-900: rgb(255, 98, 87);

$clr-gray-900: rgb(36, 39, 66);
$clr-gray-800: rgb(54, 56, 78);
$clr-gray-700: rgb(146, 148, 160);
$clr-white-900: rgb(255, 255, 255);


// - Font size (paragraph): 16px


// - Weights: 400, 700
